In [6]:
from pandas import DataFrame, read_csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
seasons_dict = {
    1: 'Winter',2: 'Spring',3: 'Spring',4: 'Spring',
    5: 'Summer',6: 'Summer',7: 'Summer',8: 'Autumn',
    9: 'Autumn',10: 'Autumn',11: 'Winter',12: 'Winter'}

station_headers = ['station_id','station_name','lat','long',
                   'dock_count','city','install_date']

status_headers = ['station_id','bikes_free','docks_free','time']

trip_headers = ['trip_id','trip_time',
                'start_dt','start_station','start_terminal',
                'end_dt','end_station','end_terminal',
                'bike_num','user_type','ZIP']

weather_headers = ['date',
                   'max_temp','mean_temp','min_temp',
                   'max_dp','mean_dp','min_dp',
                   'max_hum','mean_hum','min_hum',
                   'max_sea','mean_sea','min_sea',
                   'max_vis','mean_vis','min_vis',
                   'max_wind','mean_wind','max_gust',
                   'rain_inches','cloud_cover','events',
                   'wind_dir_degrees','ZIP']

In [8]:
# STATION_DATA
raw_data_1 = pd.read_csv('201402_station_data.csv')
raw_data_1.columns = station_headers
raw_data_1.index = raw_data_1['station_id']
raw_data_2 = pd.read_csv('201408_station_data.csv')
raw_data_2.columns = station_headers
raw_data_2.index = raw_data_2['station_id']
raw_data_3 = pd.read_csv('201508_station_data.csv')
raw_data_3.columns = station_headers
raw_data_3.index = raw_data_3['station_id']

station_data = raw_data_3.merge((raw_data_1.merge(raw_data_2, on='station_id', how='outer', suffixes=('_201402','_201408'))),
                                 on='station_id', how='outer')
station_data.index = station_data['station_id']

In [12]:
# STATUS_DATA
raw_data_1 = pd.read_csv('201402_status_data.csv')
raw_data_1.columns = status_headers
raw_data_2 = pd.read_csv('201408_status_data.csv')
raw_data_2.columns = status_headers
raw_data_3 = pd.read_csv('201508_status_data.csv')
raw_data_3.columns = status_headers

status_data = pd.concat([raw_data_1, raw_data_2, raw_data_3])

In [79]:
# TRIP_DATA
raw_data_1a = pd.read_csv('201402_trip_data.csv', parse_dates=True)
raw_data_1a.columns = trip_headers
raw_data_2a = pd.read_csv('201408_trip_data.csv', parse_dates=True)
raw_data_2a.columns = trip_headers
raw_data_3a = pd.read_csv('201508_trip_data.csv', parse_dates=True)
raw_data_3a.columns = trip_headers

trip_data = pd.concat([raw_data_1a, raw_data_2a, raw_data_3a])

trip_data.index = trip_data['trip_id'].astype(int)
trip_data.drop('trip_id', axis=1, inplace=True)

In [45]:
# WEATHER_DATA
raw_data_1b = pd.read_csv('201402_weather_data.csv', parse_dates=['Date'])
raw_data_1b.columns = weather_headers
raw_data_2b = pd.read_csv('201408_weather_data.csv', parse_dates=['PDT'])
raw_data_2b.columns = weather_headers
raw_data_3b = pd.read_csv('201508_weather_data.csv', parse_dates=['PDT'])
raw_data_3b.columns = weather_headers

weather_data = pd.concat([raw_data_1b, raw_data_2b, raw_data_3b])
#weather_data.index = weather_data['date']

weather_data['season'] = weather_data['date'].dt.month.map(seasons_dict)

In [94]:
sd = station_data.copy()
sd.drop('station_id', axis=1, inplace=True)
sd.groupby(sd['city']).describe()

                     dock_count  dock_count_201402  dock_count_201408  \
city
Mountain View count    7.000000           7.000000           7.000000
              mean    16.714286          16.714286          16.714286
              std      4.535574           4.535574           4.535574
              min     11.000000          11.000000          11.000000
              25%     15.000000          15.000000          15.000000
              50%     15.000000          15.000000          15.000000
              75%     19.000000          19.000000          19.000000
              max     23.000000          23.000000          23.000000
Palo Alto     count    5.000000           5.000000           5.000000
              mean    15.000000          15.000000          15.000000
              std      4.898979           4.898979           4.898979
              min     11.000000          11.000000          11.000000
              25%     11.000000          11.000000          11.000000
              50%     15.000000          15.000000          15.000000
              75%     15.000000          15.000000          15.000000
              max     23.000000          23.000000          23.000000
Redwood City  count    7.000000           7.000000           7.000000
              mean    16.428571          16.428571          16.428571
              std      3.779645           3.779645           3.779645
              min     15.000000          15.000000          15.000000
              25%     15.000000          15.000000          15.000000
              50%     15.000000          15.000000          15.000000
              75%     15.000000          15.000000          15.000000
              max     25.000000          25.000000          25.000000
San Francisco count   35.000000          35.000000          35.000000
              mean    19.000000          19.000000          19.000000
              std      3.757346           3.757346           3.757346
              min     15.000000          15.000000          15.000000
              25%     15.000000          15.000000          15.000000
              50%     19.000000          19.000000          19.000000
              75%     21.000000          21.000000          21.000000
              max     27.000000          27.000000          27.000000
San Jose      count   16.000000          15.000000          16.000000
              mean    16.500000          16.600000          16.500000
              std      3.540245           3.641036           3.540245
              min     11.000000          11.000000          11.000000
              25%     15.000000          15.000000          15.000000
              50%     15.000000          15.000000          15.000000
              75%     19.000000          19.000000          19.000000
              max     27.000000          27.000000          27.000000

                           lat  lat_201402  lat_201408        long  \
city
Mountain View count   7.000000    7.000000    7.000000    7.000000
              mean   37.395348   37.395348   37.395348 -122.089002
              std     0.007492    0.007492    0.007492    0.015940
              min    37.385956   37.385956   37.385956 -122.108338
              25%    37.389747   37.389747   37.389747 -122.102917
              50%    37.394358   37.394358   37.394358 -122.083678
              75%    37.400342   37.400342   37.400342 -122.079304
              max    37.406940   37.406940   37.406940 -122.066553
Palo Alto     count   5.000000    5.000000    5.000000    5.000000
              mean   37.438375   37.438375   37.438375 -122.153588
              std     0.010262    0.010262    0.010262    0.012414
              min    37.425684   37.425684   37.425684 -122.164759
              25%    37.429082   37.429082   37.429082 -122.163093
              50%    37.443988   37.443988   37.443988 -122.159504
              75%    37.444521   37.444521   37.444521 -122.142805
              max    37.448598   37.448598   37.448598 -122.137777
Redwood City  count   7.000000    7.000000    7.000000    7.000000
              mean   37.486285   37.486605   37.486605 -122.225626
              std     0.003006    0.003055    0.003055    0.010657
              min    37.481758   37.481758   37.481758 -122.236234
              25%    37.484795   37.485149   37.485149 -122.231020
              50%    37.486078   37.486725   37.486725 -122.227424
              75%    37.487649   37.488091   37.488091 -122.225198
              max    37.491269   37.491269   37.491269 -122.203288
San Francisco count  35.000000   35.000000   35.000000   35.000000
              mean   37.787746   37.787701   37.787701 -122.401517
              std     0.008072    0.008093    0.008093    0.008286
              min    37.771058   37.771058   37.771058 -122.418954
              25%    37.781542   37.781542   37.781542 -122.405046
              50%    37.788446   37.788446   37.788446 -122.400811
              75%    37.794185   37.794185   37.794185 -122.395365
              max    37.804770   37.804770   37.804770 -122.388013
San Jose      count  16.000000   15.000000   16.000000   16.000000
              mean   37.336414   37.335993   37.336414 -121.891606
              std     0.006585    0.006590    0.006585    0.007323
              min    37.329732   37.329732   37.329732 -121.905733
              25%    37.332373   37.332054   37.332373 -121.895081
              50%    37.333971   37.333955   37.333971 -121.891569
              75%    37.337868   37.337056   37.337868 -121.886665
              max    37.352601   37.352601   37.352601 -121.877349

                     long_201402  long_201408
city
Mountain View count     7.000000     7.000000
              mean   -122.089002  -122.089002
              std       0.015940     0.015940
              min    -122.108338  -122.108338
              25%    -122.102917  -122.102917
              50%    -122.083678  -122.083678
              75%    -122.079304  -122.079304
              max    -122.066553  -122.066553
Palo Alto     count     5.000000     5.000000
              mean   -122.153588  -122.153588
              std       0.012414     0.012414
              min    -122.164759  -122.164759
              25%    -122.163093  -122.163093
              50%    -122.159504  -122.159504
              75%    -122.142805  -122.142805
              max    -122.137777  -122.137777
Redwood City  count     7.000000     7.000000
              mean   -122.228965  -122.228965
              std       0.004382     0.004382
              min    -122.236234  -122.236234
              25%    -122.231575  -122.231575
              50%    -122.227424  -122.227424
              75%    -122.226227  -122.226227
              max    -122.223492  -122.223492
San Francisco count    35.000000    35.000000
              mean   -122.401557  -122.401557
              std       0.008334     0.008334
              min    -122.418954  -122.418954
              25%    -122.405046  -122.405046
              50%    -122.400811  -122.400811
              75%    -122.395665  -122.395665
              max    -122.388013  -122.388013
San Jose      count    15.000000    16.000000
              mean   -121.891338  -121.891606
              std       0.007499     0.007323
              min    -121.905733  -121.905733
              25%    -121.894808  -121.895081
              50%    -121.889937  -121.891569
              75%    -121.886387  -121.886665
              max    -121.877349  -121.877349

In [98]:
status_data.describe()

         station_id    bikes_free    docks_free
count  7.198443e+07  7.198443e+07  7.198443e+07
mean   4.253149e+01  8.394812e+00  9.284729e+00
std    2.376117e+01  3.993586e+00  4.175442e+00
min    2.000000e+00  0.000000e+00  0.000000e+00
25%    2.400000e+01  6.000000e+00  6.000000e+00
50%    4.200000e+01  8.000000e+00  9.000000e+00
75%    6.300000e+01  1.100000e+01  1.200000e+01
max    8.400000e+01  2.700000e+01  2.700000e+01

In [18]:
trip_data.describe()

          trip_time  start_terminal   end_terminal       bike_num
count  6.699590e+05   669959.000000  669959.000000  669959.000000
mean   1.107950e+03       57.851876      57.837438     427.587620
std    2.225544e+04       17.112474      17.200142     153.450988
min    6.000000e+01        2.000000       2.000000       9.000000
25%    3.440000e+02       50.000000      50.000000     334.000000
50%    5.170000e+02       62.000000      62.000000     440.000000
75%    7.550000e+02       70.000000      70.000000     546.000000
max    1.727040e+07       84.000000      84.000000     878.000000

In [70]:
wt = weather_data.groupby(['season']).mean()
wt.transpose()

season                  Autumn        Spring        Summer        Winter
max_temp             76.406852     67.959551     74.670665     63.126087
mean_temp            66.871520     58.657303     65.950927     53.758696
min_temp             57.178801     49.101124     56.934569     44.418478
max_dp               57.658747     51.107987     55.930131     47.573864
mean_dp              53.505400     46.339708     52.658297     42.296591
min_dp               49.209503     41.229471     49.299127     37.060227
max_hum              84.881210     86.267717     83.434498     87.307955
mean_hum             66.732181     67.023622     66.268559     69.073864
min_hum              45.387689     45.525309     47.318777     47.630682
max_sea              29.998019     30.118270     29.993663     30.192620
mean_sea             29.950739     30.058056     29.954152     30.128467
min_sea              29.895578     29.995101     29.911978     30.062707
max_vis              10.575107     10.583991     10.967141     10.098913
mean_vis              9.943133      9.900789     10.337349      9.111957
min_vis               8.784335      8.139797      9.282585      6.709783
max_wind             16.975375     16.969663     18.816304     12.842391
mean_wind             6.126338      6.233708      7.880435      3.614130
max_gust             23.048343     23.536210     23.787324     18.783309
cloud_cover           2.504283      3.083146      2.951087      2.613043
wind_dir_degrees    287.077088    262.058427    279.620652    237.207609
ZIP               94325.000000  94325.000000  94325.000000  94325.000000